.wrapper {
  width: 550px;
  border: 1px solid black;
}

.main-header {
  text-align: center;
}

.main-wrapper {
  padding: 10px;
}

.added-service {
  display: flex;
}

.remove-service-btn {
  margin-right: auto;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
